select{
    cursor: pointer;
}
.sideBar-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: 0.5px solid gray;
    border-radius: 10px;
    max-height: 340px;
    background-color: white;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.change-cash{
    margin: 0 auto 50px;
}
.filter-stops {
    display: flex;
    flex-direction: column;
}

.currency-btn{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: 4px 8px;
    margin: 0 2px;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    cursor: pointer;
}
.currency-btn:hover {
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.active-btn {
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    background: rgb(197, 228, 223);
    border: 1px solid rgb(107, 158, 151);
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    padding: 4px 8px;
    margin: 0 2px;
    border-radius: 2px;
    outline: none;
}

.labelBox{
    display: flex;
    align-items: center;
}

.labelBox label {
    margin: 10px 0;
}

input:checked + span{
    color:rgb(59, 156, 143);
}

.btnOnly{
    border: none;
    outline: none;
    background: transparent;
    color:transparent;
    padding-top: 5px;
}

.btnOnly:hover{
   text-decoration: underline;
   color:rgb(59, 156, 143);
}